{% extends "layout.html" %}
{% block body %}
  <h2>Parcels</h2>

<table id="parcels">
    <thead>
    <tr>
        <th>Parcel #</th>
        <th>Sender</th>
        <th>Sender Mobile</th>
        <th>Sender Address</th>
        <th>Receiver</th>

       <th>Receiver Mobile</th>
        <th>Receiver Address</th>

         <th>Date</th>
       <th>Amount</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>


    {% for parcel in parcel_list %}
      {% include "includes/parcel.html" %}
    {% endfor %}
      </tbody>
</table>
  {% include "includes/pagination.html" %}
{% endblock %}
