<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>
 <form action="{{ url_for('deliverydetails') }}" method=post>
    <dl>
<ul>
    {% if session['chatlog'] %}
    {% for note in session['chatlog'] %}

      {% if note == 'please select date' %}
       {%for i in range(0, 5)%}

       <li>{{i+1}}. {{session['dates'][i]}}</li>
      {% endfor %}
      {% endif %}

    {% if note == 'please select time' %}
       {%for i in range(0, 5)%}

       <li>{{i+1}}. {{session['dates'][i]}}</li>
      {% endfor %}
      {% endif %}


    <li>{{ note }}</li>
    {% endfor %}



    {% endif %}
</ul>

      <dt>Reply:</dt>
      <dd><textarea name="message" required></textarea></dd>

      <dd><input type="submit" value="send" /></dd>
    </dl>
  </form>
</body>
</html>